@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow {

    from,
    to {
        box-shadow: 0 0 30px 0 red
    }

    16% {
        box-shadow: 0 0 30px 0 yellow
    }

    32% {
        box-shadow: 0 0 30px 0 green
    }

    48% {
        box-shadow: 0 0 30px 0 aqua
    }

    64% {
        box-shadow: 0 0 30px 0 blue
    }

    80% {
        box-shadow: 0 0 30px 0 fuchsia
    }
}

#glow {
    animation: rainbow 10s infinite;
    border-radius: 100%;
}

#triangle-pointL {
    position: fixed;
    right:0;
    border-right: 1000px solid rgb(218, 255, 233);
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
}

#triangle-pointR {
    position: fixed;
    left: 0;
    border-left: 2000px solid rgb(230, 231, 252);
    border-top: 1000px solid transparent;
    border-bottom: 1000px solid transparent;
}

#underline {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
}

#underline:hover {
    text-decoration: none;
}